name = "DataDrivenDiffEq"
uuid = "2445eb08-9709-466a-b3fc-47e12bd697a2"
authors = ["Julius Martensen <julius.martensen@gmail.com>"]
version = "0.5.2"

[deps]
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
DSP = "717857b8-e6f2-59f4-9121-6e50c889abd2"
DataInterpolations = "82cc6244-b520-54b8-b5a6-8a565e85f1d0"
DiffEqBase = "2b5f629d-d688-5b77-993f-72d75c75574e"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FiniteDifferences = "26cc04aa-876d-5657-8c51-4c34ba976000"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
ProximalOperators = "a725b495-10eb-56fe-b38b-717eba820537"
QuadGK = "1fd47b50-473d-5c70-9696-f719f8f3bcdc"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
Compat = "2.2, 3.0"
DSP = "0.6"
DataInterpolations = "3.1"
DiffEqBase = "6.45"
DocStringExtensions = "0.7, 0.8"
FiniteDifferences = "0.11"
ModelingToolkit = "4.0.8"
ProximalOperators = "0.11, 0.12, 0.13"
QuadGK = "2.4"
StatsBase = "0.32.0, 0.33"
julia = "^1.3.0"

[extras]
DiffEqFlux = "aae7a2af-3d4f-5e19-a356-7da93b79d9d0"
DiffEqSensitivity = "41bf760c-e81c-5289-8e54-58b1f1f8abe2"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["DiffEqFlux", "DiffEqSensitivity", "Flux", "JLD2", "Optim", "OrdinaryDiffEq", "Test", "SafeTestsets"]
